.links{
    text-align: left;
    padding: 10px;
    align-self: flex-end; 
}
a{
    color: black;
}

#insta{
    border-radius: 100px;
    width: 85px;
    height: 100px; 
}
#face{
    border-radius: 100px;
    width: 85px;
    height: 100px; 
}
#git{
    border-radius: 100px;
    width: 85px;
    height: 100px; 
}
#email{
    border-radius: 80px;
    width: 85px;
    height: 100px; 
}
#linkedin{
    border-radius: 80px;
    width: 85px;
    height: 100px;    
}
#topo{
    text-align: right;
}

body{
    color: white;
    background-color: darkslategray;
}

.foto{
    border-radius: 100px;
}